/* ________ ESTILOS ________ */
/* ________ DIMENSIONES ________ */
/* ________ MIXIN ________ */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet');
* {
  font-family: "Manrope";
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Montserrat", sans-serif;
}

footer h2 {
  font-size: 12px;
  font-weight: 550;
  color: black;
  text-align: center;
  margin-bottom: 5px;
}

footer h3 {
  font-size: 10px;
  color: rgb(133, 133, 133);
  font-weight: 200;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  height: 60px;
}

footer section {
  margin: 0 12px 0 12px;
}

footer img {
  height: 20px;
  width: 20px;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerimg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  display: flex;
  justify-content: flex-start;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 6px;
}

.img-logo {
  width: 26;
  height: 22px;
  margin-right: 10px;
}

.nav-item {
  font-family: "Manrope";
  font-weight: 900;
  font-size: 15px;
}

@media (min-width: 600px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 6px;
    padding-left: 6px;
  }
}
@media (min-width: 768px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(104, 104, 104);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(189, 189, 189);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  background-color: #93b605;
  color: white;
  border-radius: 6px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: flex-end;
}

.navbar-nav .nav-link {
  padding: 0.25rem 0.75rem;
  font-family: "Manrope";
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 600px) {
  header {
    height: 56px;
  }
  .nav-item {
    font-family: "Manrope";
    font-weight: 600;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: black;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(189, 189, 189);
  }
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    background-color: #93b605;
    color: white;
    border-radius: 6px;
  }
  .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 0.9);
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: flex-end;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    justify-items: flex-end;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    justify-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
.index-body {
  display: grid;
  grid-template-rows: auto 90vh 150px 510px auto auto 80px;
}

.index__main {
  background: rgb(164, 182, 91);
  background: linear-gradient(25deg, rgb(164, 182, 91) 29%, rgb(252, 135, 94) 97%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.main__txt {
  padding: 50px 25px 30px 25px;
  height: 60%;
}
@media (min-width: 600px) {
  .main__txt {
    height: 50%;
  }
}
@media (min-width: 768px) {
  .main__txt {
    height: 40%;
  }
}
@media (min-width: 1024px) {
  .main__txt {
    height: 30%;
  }
}

.main__title {
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  font-family: "Montserrat";
  letter-spacing: 2px;
  line-height: 45px;
  color: white;
  text-align: center;
  grid-area: maintitle;
  margin: 0;
  padding: 0;
}

#main__subtitle {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-family: "Manrope";
  letter-spacing: 1px;
  line-height: 17px;
  color: white;
  grid-area: mainsub;
  padding: 50px 40px 0px 40px;
}

.main__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40%;
}
@media (min-width: 600px) {
  .main__img {
    height: 50%;
  }
}
@media (min-width: 768px) {
  .main__img {
    height: 60%;
  }
}
@media (min-width: 1024px) {
  .main__img {
    height: 70%;
  }
}

main img {
  max-height: 90%;
  max-width: 80%;
  margin: 0;
  grid-area: mainimg;
}
@media (min-width: 600px) {
  main img {
    width: 60%;
    max-height: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  main img {
    width: 50%;
    max-height: 100%;
    height: auto;
  }
}

.ribbon {
  background-color: #eae5d8;
  height: 150px;
  display: flex;
  align-items: flex-end;
}

.index__ribbon, .mv,
.valores, .index__opiniones {
  width: 100%;
  height: 130px;
  padding: 20px 25px 20px 25px;
  margin: 10px 0;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: flex-start;
  justify-content: space-around;
}

.ribbon__txt {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f46c3d;
}

.ribbon__h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: "Montserrat";
}

.ribbon__h3 {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}

.index__images {
  background-color: #eae5d8;
  padding: 10px 0;
}

.index__section {
  background-color: #eae5d8;
  padding: 0 0 50px 0;
}

.index__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae5d8;
}

.description-txt {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.i-txt, .equipo-txt, .mvv-txt, .comienzos-txt, .o-test-txt, .firma {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 20px;
  line-height: 1.5;
  margin: 0 40px 25px 40px;
}

.albergue-txt, .equipo {
  background-color: #93b605;
  color: #225d2d;
  margin-bottom: 5px;
}

.huespedes-txt, .comienzos {
  background-color: #225d2d;
  color: #e9e0c4;
  margin-top: 5px;
}

.i-title, .mv-title,
.vision-title,
.valores-title, .n-title-equipo, .n-title-comienzos, .it-opiniones {
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-family: "Montserrat";
  line-height: 0.65;
  text-align: center;
  margin: 40px 0px 50px 5px;
}

.it-albergue, .n-title-equipo, .n-title-comienzos {
  color: #225d2d;
}

.it-huespedes, .n-title-comienzos {
  color: #e9e0c4;
}

.opiniones {
  background-color: #eae5d8;
  padding: 0 0 10px 0;
}

.index__opiniones {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;
  margin: 0;
  justify-content: space-between;
}
@media (min-width: 420px) {
  .index__opiniones {
    height: 300px;
  }
}
@media (min-width: 600px) {
  .index__opiniones {
    height: 290px;
  }
}

.it-opiniones, .mv-title,
.vision-title,
.valores-title {
  color: #f46c3d;
  text-align: center;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 0;
}

.opiniones-txt {
  height: 250px;
  margin-top: 20px;
}
@media (min-width: 600px) {
  .opiniones-txt {
    height: 150px;
  }
}

.o-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-test-txt, .firma {
  color: #f46c3d;
  max-width: 70%;
}

.firma {
  font-weight: 200;
}

.main__images {
  background-color: #eae5d8;
  padding: 30px 80px 30px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index__img {
  max-width: 12%;
  border-radius: 15px;
  display: flex;
  border: 2px solid white;
}

/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
@media (min-width: 768px) {
  .index__ribbon, .mv,
.valores, .index__opiniones {
    margin: 20px 30px;
    border-radius: 25px;
    width: 100%;
    height: 110px;
    padding: 18px;
  }
  .ribbon__txt {
    padding: 0 40px;
  }
  .ribbon__h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    font-family: "Montserrat";
  }
  .ribbon__h3 {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .index__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description-txt {
    height: 230px;
    border-radius: 25px;
    padding: 30px 60px 30px 60px;
    margin: 10px 30px;
  }
  .i-title, .mv-title,
.vision-title,
.valores-title, .n-title-equipo, .n-title-comienzos, .it-opiniones {
    margin: 15px 0 0 0;
  }
  .index__images {
    padding: 20px 30px;
  }
  .carousel-inner {
    border-radius: 25px;
    height: 100%;
  }
  .opiniones {
    padding: 0;
  }
  .index__opiniones {
    width: auto;
    height: 200px;
    margin: 20px 30px 40px 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .it-opiniones, .mv-title,
.vision-title,
.valores-title {
    height: 15px;
  }
  .opiniones-txt {
    display: flex;
    flex-direction: row;
  }
  .o-test {
    margin-top: 15px;
  }
  .firma {
    margin: 0;
  }
}
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
@media (min-width: 1200px) {
  .index-body {
    display: grid;
    grid-template-rows: 56px 65vh 300px 400px auto 350px 80px;
  }
  .index__main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: none;
    height: auto;
    padding: 0;
  }
  .main__txt {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    padding: 80px;
  }
  .main__title {
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    letter-spacing: 0px;
    line-height: 85px;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  #main__subtitle {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: "Manrope";
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }
  .main__img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }
  main img {
    margin: 0;
    width: 85%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .ribbon {
    padding: 0;
    height: auto;
    display: flex;
    align-items: center;
  }
  .index__ribbon, .mv,
.valores, .index__opiniones {
    width: 100%;
    margin: 0px 80px;
    padding: 25px;
    background-color: #f4f4f4;
    border-radius: 25px;
    height: 200px;
  }
  .ribbon__txt {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .ribbon__h2 {
    font-size: 70px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }
  .ribbon__h3 {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .index__images {
    background-color: #eae5d8;
    border-radius: 0;
    padding: 80px;
  }
  .carousel-inner {
    border-radius: 30px;
  }
  .index__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 80px;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 2px 20px 80px;
  }
  .description-txt {
    height: 100%;
    padding: 30px 80px 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .albergue-txt, .equipo {
    background-color: #93b605;
    color: #225d2d;
    margin: 0 5px 0 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 70px;
  }
  .huespedes-txt, .comienzos {
    background-color: #225d2d;
    color: #e9e0c4;
    margin: 0 0 0 5px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 30px;
  }
  .i-title, .mv-title,
.vision-title,
.valores-title, .n-title-equipo, .n-title-comienzos, .it-opiniones {
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
    line-height: 0.65;
    text-align: left;
    margin: 30px 0px 70px 0px;
  }
  .it-albergue, .n-title-equipo, .n-title-comienzos {
    color: #225d2d;
  }
  .it-huespedes, .n-title-comienzos {
    color: #e9e0c4;
    text-align: right;
  }
  .i-txt, .equipo-txt, .mvv-txt, .comienzos-txt, .o-test-txt, .firma {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 20px;
    margin: 0;
  }
  .i-txt-albergue, .equipo-txt, .mvv-txt, .comienzos-txt {
    text-align: left;
    margin-right: 50px;
  }
  .i-txt-huespedes, .comienzos-txt {
    text-align: right;
    margin-left: 50px;
  }
  .opiniones {
    display: flex;
    align-items: flex-start;
  }
  .index__opiniones {
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
  }
  .it-opiniones, .mv-title,
.vision-title,
.valores-title {
    color: #f46c3d;
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonios {
    display: grid;
    grid-template-columns: 50%;
    align-items: center;
    padding: 20px 0px 35px 0px;
  }
  .opiniones-txt {
    padding: 0 30px 10px 30px;
    min-height: 90px;
  }
}
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* EQUIPO ---------------------------------------------- */
.nosotros {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-row-gap: 10px;
  background-color: #eae5d8;
}

.nosotros__bubble {
  margin: 0;
  border-radius: 0px;
  justify-content: space-between;
}

.equipo {
  padding: 30px 30px 0 30px;
}

.n-title-equipo, .n-title-comienzos {
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  font-family: "Montserrat";
  margin-top: 50px;
}

.equipo-txt, .mvv-txt, .comienzos-txt {
  margin: 10px 40px 25px 40px;
  padding: 0;
}

.nosotros__cofounders {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cofounder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#cofounder1 {
  padding: 0 0 0 35px;
}

#cofounder2 {
  padding: 0 35px 0 0;
}

.nosotros__subtitle {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.equipo__icon {
  max-width: 60px;
}

.equipo__img {
  max-width: 90%;
}

.nosotros__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* COMIENZOS ---------------------------------------------- */
.comienzos {
  justify-content: space-around;
  padding: 30px;
}

/* MISION VISION VALORES ---------------------------------------------- */
.mv,
.valores {
  height: auto;
  max-height: 600px;
  width: 100%;
  padding: 0;
  justify-content: space-around;
  padding: 30px;
}

.mv-title,
.vision-title,
.valores-title {
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
}

.mvv-txt {
  color: #f46c3d;
}

#mv {
  height: auto;
  max-height: 700px;
}

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
@media (min-width: 768px) {
  .nosotros {
    grid-row-gap: 50px;
  }
  .equipo {
    min-height: 600px;
  }
  .equipo__img {
    max-width: 550px;
    margin-top: 40px;
  }
  .nosotros__bubble {
    border-radius: 25px;
  }
  .comienzos {
    min-height: 300px;
  }
  .mv {
    min-height: 400px;
  }
  .vision {
    min-height: 200px;
  }
  .n-title-comienzos {
    margin: 0;
  }
}
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
@media (min-width: 1200px) {
  h1 {
    padding: 0 0 35px 0;
    margin: 0;
  }
  /* EQUIPO ---------------------------------------------- */
  .nosotros__bubble {
    margin: 10px 10px 10px 10px;
  }
  .equipo {
    border-radius: 35px 0 0 35px;
    grid-area: equipo;
    margin: 0;
    min-height: 300px;
    justify-content: space-around;
    padding: 30px 60px;
  }
  .n-title-equipo, .n-title-comienzos {
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-family: "Montserrat";
    margin: 0;
  }
  .equipo-txt, .comienzos-txt, .mvv-txt {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .equipo__img {
    max-width: 50%;
    margin-top: 20px;
  }
  .nosotros__cofounders, .equipo__img {
    display: none;
  }
  /* COMIENZOS ---------------------------------------------- */
  .comienzos {
    grid-area: comienzos;
    border-radius: 0 35px 35px 0;
    padding: 30px 60px;
    margin: 0;
  }
  /* MISION VISION VALORES ---------------------------------------------- */
  .mv {
    grid-area: mv;
    border-radius: 35px 0 0 35px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .valores {
    grid-area: valores;
    border-radius: 0 35px 35px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title title title" "equipo equipo equipo comienzos comienzos comienzos" "equipo equipo equipo comienzos comienzos comienzos" "mv mv mv mv valores valores" "mv mv mv mv valores valores";
    grid-gap: 5px;
    grid-row-gap: 20px;
  }
  #mv,
#valores {
    align-items: center;
    justify-content: space-around;
    padding: 30px 60px;
  }
  .nosotros-main {
    grid-area: title;
  }
}
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
.faqs {
  display: grid;
  grid-template-rows: 100px auto;
  min-height: calc(100vh - 136px);
}

.faqs__enquiry {
  margin: 30px 15px 30px 15px;
}

#faqs__question {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.accordion-button-faqs {
  background-color: #f4f4f4;
  color: #f46c3d;
  border: 1.5px solid white;
}

.accordion-button:not(.collapsed) {
  font-family: "Montserrat";
  font-weight: 600;
  color: #f4f4f4;
  background-color: #f46c3d;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
}

.accordion-button:focus {
  z-index: 1;
  border-color: #eae5d8;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(110, 102, 95, 0.37);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
.servicios-body {
  height: 100vh;
}

.servicios {
  display: grid;
  grid-template-rows: 100px auto;
  grid-row-gap: 10px;
  background-color: #eae5d8;
}

.accordion-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-item-servicios {
  width: 100%;
  background-color: #eae5d8;
  padding: 5px 0;
}

.accordion-button {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

.accordion-button::after {
  margin-left: 0;
}

.accordion-body {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-family: "Manrope";
  text-align: center;
  padding: 50px;
}

.servicios-title {
  margin: 0;
}

/* ____________ Estilos ____________ */
.hotel-title, .hotel-txt, .social-title, .social-txt {
  background-color: #f4f4f4;
  color: #93b605;
}

.guarderia-title, .guarderia-txt, .traslados-title, .traslados-txt {
  background-color: #f4f4f4;
  color: #f46c3d;
}

.paseos-title, .paseos-txt, .esquilados-title, .esquilados-txt {
  background-color: #f4f4f4;
  color: #225d2d;
}

.hotel-title:not(.collapsed), .social-title:not(.collapsed) {
  font-family: "Montserrat";
  font-weight: 900;
  color: #225d2d;
  background-color: #93b605;
}

.guarderia-title:not(.collapsed), .traslados-title:not(.collapsed) {
  font-family: "Montserrat";
  font-weight: 900;
}

.paseos-title:not(.collapsed), .esquilados-title:not(.collapsed) {
  font-family: "Montserrat";
  font-weight: 900;
  color: #e9e0c4;
  background-color: #225d2d;
}

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
@media (min-width: 768px) {
  /* ________ ACCORDION GENERAL ________ */
  .accordion-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    height: 100%;
  }
  .accordion-flush-servicios .accordion-item-servicios .accordion-button-servicios {
    border-radius: 30px;
  }
  .accordion-item-servicios {
    min-height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
  }
  .accordion-flush .accordion-item {
    border-radius: 30px;
  }
  .accordion-header {
    height: 100%;
  }
  .accordion-button {
    height: 100%;
    border: none;
  }
  .accordion-button:focus {
    border-color: none;
    box-shadow: none;
  }
  .accordion-txt {
    margin: 0;
  }
  .accordion-item-servicios:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  /* ________ estilos ________ */
  /* ACORDEON CERRADA*/
  .hotel-title, .social-title {
    background-color: #93b605;
    color: #225d2d;
  }
  .hotel-txt, .social-txt {
    background-color: #f4f4f4;
    color: #93b605;
  }
  .guarderia-title, .traslados-title {
    background-color: #f46c3d;
    color: #f4f4f4;
  }
  .guarderia-txt, .traslados-txt {
    background-color: #f4f4f4;
    color: #f46c3d;
  }
  .paseos-title, .esquilados-title {
    background-color: #225d2d;
    color: #e9e0c4;
  }
  .paseos-txt, .esquilados-txt {
    background-color: #f4f4f4;
    color: #225d2d;
  }
  /* FONDO ACORDEON */
  .accordion-item-hotel, .accordion-item-social {
    background-color: #93b605;
  }
  .accordion-item-guarderia, .accordion-item-traslados {
    background-color: #f46c3d;
  }
  .accordion-item-paseos, .accordion-item-esquilados {
    background-color: #225d2d;
  }
  /* ACORDEON ABIERTA*/
  .hotel-title:not(.collapsed), .social-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: #e9e0c4;
    background-color: #93b605;
  }
  .guarderia-title:not(.collapsed), .traslados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
  }
  .paseos-title:not(.collapsed), .esquilados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: #93b605;
    background-color: #225d2d;
  }
  .accordion-body {
    height: 352px;
  }
}
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
@media (min-width: 1200px) {
  .accordion-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    height: 100%;
  }
  .accordion-item-servicios {
    min-height: 100%;
  }
  .accordion-body {
    height: auto;
    padding: 50px;
  }
  /* ____________ Estilos ____________ */
  .hotel-title, .hotel-txt, .esquilados-title, .esquilados-txt {
    background-color: #f4f4f4;
    color: #93b605;
  }
  .accordion-item-hotel, .accordion-item-esquilados {
    background-color: #f4f4f4;
  }
  .guarderia-title, .guarderia-txt, .social-title, .social-txt {
    background-color: #f4f4f4;
    color: #f46c3d;
  }
  .accordion-item-guarderia, .accordion-item-social {
    background-color: #f4f4f4;
  }
  .paseos-title, .paseos-txt, .traslados-title, .traslados-txt {
    background-color: #f4f4f4;
    color: #225d2d;
  }
  .accordion-item-paseos, .accordion-item-traslados {
    background-color: #f4f4f4;
  }
  .hotel-title:not(.collapsed), .esquilados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: #225d2d;
    background-color: #93b605;
  }
  .guarderia-title:not(.collapsed), .social-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: #f4f4f4;
    background-color: #f46c3d;
  }
  .paseos-title:not(.collapsed), .traslados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: #e9e0c4;
    background-color: #225d2d;
  }
}
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
.contacto {
  display: grid;
  grid-template-rows: 100px auto;
  min-height: calc(100vh - 136px);
}

.formulario {
  margin-top: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 50px;
  padding: 50px;
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-auto-rows: 80px 80px auto 40px;
}

.mb-3 {
  width: 100%;
  height: 100%;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  color: #f46c3d;
  font-family: "Montserrat";
}

textarea.form-control {
  height: 100%;
  margin-bottom: 15px;
}

.btn-primary {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  background-color: #225d2d;
  color: #e9e0c4;
  border-color: #225d2d;
  font-family: "Montserrat";
  width: 100px;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  background-color: #93b605;
  color: #225d2d;
  border-color: #93b605;
}

.btn-primary:hover {
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  background-color: #eae5d8;
  color: #225d2d;
  border-color: #225d2d;
}

.button-contacto {
  display: flex;
  justify-content: center;
}

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
@media (min-width: 768px) {
  .formulario {
    border-radius: 35px;
  }
}
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
@media (min-width: 1200px) {
  .h1-contacto {
    padding: 0 0 25px 0;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formulario {
    border-radius: 40px;
    padding: 70px 40px;
    margin-bottom: 20px;
    height: 100%;
    width: 70%;
  }
  .btn-primary {
    margin-top: 30px;
  }
  textarea.form-control {
    min-height: calc(1.5em + 7.75rem + 2px);
  }
}
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
.section-body {
  display: grid;
  grid-template-rows: auto auto 80px;
  min-height: 100vh;
}

.section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  padding: 0;
}

.nosotros, .servicios, .faqs, .contacto {
  background-color: #eae5d8;
  padding: 10px 0;
}

.nosotros__bubble, .servicios__bubble, .faq__bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicios__title {
  color: white;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin: 30px 20px 10px 20px;
}

.servicios__txt, .faqs__txt {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin: 0 15px 0 15px;
  padding: 0 20px 30px 20px;
}

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
@media (min-width: 600px) {
  .section-body {
    display: grid;
    grid-template-rows: 56px auto 80px;
    min-height: 100vh;
  }
}
@media (min-width: 768px) {
  .nosotros, .servicios, .faqs, .contacto {
    padding: 50px 30px 20px 30px;
  }
  .nosotros__bubble,
.servicios__bubble,
.faq__bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios__title {
    color: white;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin: 30px 20px 10px 20px;
  }
  .servicios__txt,
.faqs__txt {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: 0 15px 0 15px;
    padding: 0 20px 30px 20px;
  }
}
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
@media (min-width: 1200px) {
  .faq__bubble {
    margin: 10px 10px 10px 10px;
  }
  .servicios__txt {
    padding: 5px 50px 50px 50px;
  }
  .section-main {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=sassstyle.css.map */