@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


/*mobile*/


@media (min-width: 320px) {
    
*{  font-family: 'Montserrat';
}

*{  margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

p{
    font-family: 'Mukta', sans-serif;
}

header{
    background-color: rgba(255, 255, 255, 0.466);
    margin:10px;
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
}

header section{
    margin: 10px;
}

nav{    
    position: absolute;
    right:20px;
    word-spacing: 50px;
    font-weight: 700;
    font-size: 15px;
    
}

a{
    color: black;
    font-size: 15px;
    transition: 0.25s;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(148, 148, 148);
}

.a img{
width: 170px;
height: 38px;
}

footer h2 {
    font-size: 12px;
    font-weight: 550;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

footer h3{
    font-size: 10px;
    color:rgb(133, 133, 133);
    font-weight: 200;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer section{
    margin: 0 12px 0 12px
}

footer img{
    height: 20px;
    width: 20px;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerimg{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    color: rgb(214 204 196);
    line-height: 0.65;
    font-size: 40px;
    font-weight: 900;
    padding-top: 40px;
    text-align: center;
}

.index__content{
    background-color: rgb(214 204 196);
}

.main__txt{
    margin: 20px 30px 20px 30px;
}
.main__title{
    font-size: 30px;
    font-family: 'Montserrat';
    letter-spacing: 10px;
    line-height: 56px;
    color: white;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    grid-area: maintitle;
}

#main__subtitle{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    color: white;
    grid-area: mainsub;
    padding: 30px 65px 30px 65px;
}

.main__img{
    display: flex;
    justify-content: flex-end;
}

main img{
    margin-top: 30px;
    max-height: 300px;
    grid-area: mainimg;
}

.index__main{
    background: linear-gradient(24deg, rgba(63,170,149,1) 0%, rgba(219,183,165,1) 89%);
    justify-content: space-between;
    display: grid;
    grid-template-areas: 
    "maintitle"
    "mainsub"
    "mainimg";
}

.index__ribbon{
    padding: 20px 25px 20px 25px;
    background-color: rgb(214 204 196);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ribbon__txt{
    padding: 0px 17px 0px 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ribbon__h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.ribbon__h3{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.index__images{
    background-color: rgb(214 204 196);
    border-radius: 30px;
}

.instalaciones__img{
    width: 100%;
}

.index__section{
    background-color: rgb(214 204 196);
    padding: 20px 0 50px 0;
}

.index__info, .index__opiniones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description, .description__opiniones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px 20px 50px;
}

.index__title{
    color: rgb(245, 245, 245);
    line-height: 0.65;
    font-size: 28px;
    font-weight: 900;
    text-align: end;
    margin: 0;
}

.description__txt{
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    line-height: 40px;
    padding: 30px 60px 30px 60px;
    border-radius: 25px;

}

.opiniones{
    margin-bottom: 40px;
}

#opiniones__derecha{
    margin: 40px 0 0 0 
}

.main__images{
    background-color: rgb(214 204 196);
    padding: 30px 80px 30px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index__img{
    max-width: 12%;
    border-radius: 15px;
    display: flex;
    border: 2px solid white;
}

.nosotros, .servicios, .faqs{
    background-color: rgb(214 204 196);
    padding: 20px;
}
.nosotros__bubble, .servicios__bubble, .faq__bubble{
    background-color: rgb(245, 245, 245);
    border-radius: 25px;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__title, .servicios__title{
    color: rgb(84, 160, 148);
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    margin: 30px 20px 10px 20px;
}

#nosotros__title__vision{
    margin: 5px 20px 10px 20px;
}

.nosotros__subtitle{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.nosotros__txt, .servicios__txt, .faqs__txt{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0 15px 0 15px;
    padding: 0 20px 30px 20px;
}

.nosotros__cofounders{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.cofounder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#cofounder1{
    padding: 0 0 0 35px;
}

#cofounder2{
    padding: 0 35px 0 0;
}
.equipo__icon{
    max-width: 60px;
}

.equipo__img{
    max-width: 90%;
    margin-top: 20px;
}


.faq__title{
    line-height: 1;
}

.faq__title__2{
    padding-top: 10px;
}

.faqs__enquiry{
    margin: 30px 15px 30px 15px;
}

#faqs__question{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.formulario{
    width: 100%;
    height: 75vh;
    background-color: rgb(214 204 196);
}
}


/*desktop*/

@media (min-width: 1024px){

    main h1{
        text-align: left;
        margin-left: 20px;
    }

    .index__main{
        display: grid;
        grid-template-columns: 60% 40%;
        min-height: 800px;
        grid-template-areas: none;
    }

    .main__txt{
        display: flex;
        flex-direction: column;
    }
    
    .main__title{
        font-size: 80px;
        font-family: 'Montserrat';
        letter-spacing: 10px;
        line-height: 100px;
        color:white;
        font-style: normal;
        font-weight: 900;
        text-align: left;
        margin: 100px 150px 75px 0;
        padding: 0;
    }
    
    #main__subtitle{
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0 150px 100px 0;
        padding: 0;
    }

    .main__img{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    main img{
        margin: 0;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .index__ribbon{
        padding: 50px 50px 50px 50px;
        background-color: rgb(214 204 196);
        justify-content: space-evenly;
    }
    
    .ribbon__txt{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 210px;
    }
    
    .ribbon__h2{
        text-align: center;
        font-size: 70px;
        font-weight: 600;
    }
    
    .ribbon__h3{
        text-align: center;
        font-size: 25px;
        font-weight: 400;
    }

    .index__images{
        background-color: rgb(214 204 196);
        border-radius: 0;
        padding: 80px;
    }

    .carousel-inner{
        border-radius: 30px;
    }


    .index__info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px 20px 80px;
    }

    #description__huespedes{
        margin: 20px 80px 20px 20px;
    }
    

    .index__title{
        color: rgb(245, 245, 245);
        line-height: 0.65;
        font-size: 28px;
        font-weight: 900;
        text-align: end;
    }
    
    .description__txt{
        background-color: rgb(245, 245, 245);
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        line-height: 40px;
        padding: 30px 80px 30px 80px;
        border-radius: 25px;
    
    }

    .main__images{
        padding: 20px 80px 20px 80px;
    }

    .index__opiniones{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 80px 20px 80px;
        padding: 0
    }

    .description__opiniones{
        margin: 0;
        width: fit-content;
    }

    #description__txt__opiniones{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 150px 20px 150px;
    }

    .nosotros__bubble, .faq__bubble{
        margin: 10px 10px 10px 10px;
    }

    .servicios__bubble{
        margin: 40px 20px 40px 20px;
    }

    .servicios__txt{
        padding: 5px 50px 50px 50px;
    }

    .equipo{
            grid-area: equipo;
        }
    
    .comienzos{
            grid-area: comienzos;
        }
    
    .mv{
            grid-area: mv;
        }
    
    .valores{
            grid-area: valores;
        }

    .nosotros{
            display: grid;
            grid-template-areas: 
            "equipo equipo equipo mv valores"
            "equipo equipo equipo mv valores"
            "equipo equipo equipo mv valores"
            "comienzos comienzos comienzos mv valores";
            }

    .opiniones{
        max-width: 50%;
        padding: 10px 40px 10px 0px;
        margin: 0;
    }

    #opiniones__derecha{
        padding: 10px 0px 10px 40px;
        margin: 0;
    }

    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
    }

}