@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet');

* {
    font-family: 'Manrope';
}

* {
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Montserrat', sans-serif;
}


// _____________ FOOTER _____________ //
// _____________ FOOTER _____________ //
// _____________ FOOTER _____________ //
// _____________ FOOTER _____________ //

footer h2 {
    font-size: 12px;
    font-weight: 550;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

footer h3{
    font-size: 10px;
    color:rgb(133, 133, 133);
    font-weight: 200;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    height: 60px;
}

footer section{
    margin: 0 12px 0 12px
}

footer img{
    height: 20px;
    width: 20px;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerimg{
    display: flex;
    flex-direction: row;
    align-items: center;
}

// _____________ NAVBAR _____________ //
// _____________ NAVBAR _____________ //
// _____________ NAVBAR _____________ //
// _____________ NAVBAR _____________ //

// _____________ NAVBAR _____________ //
// _____________ NAVBAR _____________ //
// _____________ NAVBAR _____________ //
// _____________ NAVBAR _____________ //

.link {
    display: flex;
    justify-content: flex-start;
}

.navbar-logo{
display: flex;
align-items: center;
}

.navbar-brand{
font-family: 'Montserrat';
font-weight: 900;
letter-spacing: 6px;
}

.img-logo{
width: 26;
height: 22px;
margin-right: 10px;
}

.nav-item{
font-family: 'Manrope';
font-weight: 900;
font-size: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {

@media (min-width: 600px){
    padding-right: 6px;
    padding-left: 6px;
}

@media(min-width: 768px){
    padding-right: 20px;
    padding-left: 20px;
}

@media(min-width: 1024px){
    padding-right: 25px;
    padding-left: 25px;
}

@media(min-width: 1200px){

    padding-right: 25px;
    padding-left: 25px;

    margin-right: 20px;
    margin-left: 20px;
}

}

.navbar-light .navbar-nav .nav-link {
color: rgb(104, 104, 104);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: rgb(189, 189, 189);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
background-color: $color-1-bg;
color: white;
border-radius: 6px;
}

.navbar-nav {
display: flex;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
list-style: none;
align-items: flex-end;
}

.navbar-nav .nav-link {
padding: 0.25rem 0.75rem;
font-family: 'Manrope';
}

.navbar-collapse {
flex-basis: 100%;
flex-grow: 1;
align-items: center;
margin-top: 20px;
}


@media (min-width: 600px){

    
header {
    height: 56px;
}

    .nav-item{
        font-family: 'Manrope';
        font-weight: 600;
    }
    
    .navbar-light .navbar-nav .nav-link {
        @include font (15px, 600, normal);
        color: $txt-dark;
    }
    
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: rgb(189, 189, 189);
    }


    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        @include colors ($color-1-bg, white);
        border-radius: 6px;
    }

.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
}
    
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }


    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-items: flex-end;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 0;
        align-items: center;
        justify-items: flex-end;
        margin-top: 0;
    }


    
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 0;
        align-items: center;
        justify-items: flex-end;
    }
    

}


@media (min-width: 1200px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}
