/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */
/* ________________ MOBILE ________________ */

.index-body{
    display: grid;
    grid-template-rows: auto 90vh 150px 510px auto auto $heightfooter;
}

.index__main{
    background: rgb(164,182,91);
    background: linear-gradient(25deg, rgba(164,182,91,1) 29%, rgba(252,135,94,1) 97%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.main__txt{
    padding: 50px 25px 30px 25px;
    height: 60%;

    @media (min-width: 600px){
        height: 50%;
    }

    @media (min-width: 768px){
        height: 40%;
    }

    @media (min-width: 1024px){
        height: 30%;
    }

}

.main__title{
    @include font (40px, 800, normal);
        font-family: "Montserrat";
        letter-spacing: 2px;
        line-height: 45px;
        color: white;
        text-align: center;
        grid-area: maintitle;
        margin: 0;
        padding: 0;
    }


#main__subtitle{
    @include font (15px, 400, normal);
    font-family: 'Manrope';
    letter-spacing: 1px;
    line-height: 17px;
    color: $txt-light;
    grid-area: mainsub;
    padding: 50px 40px 0px 40px;
}

.main__img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 40%;

    @media (min-width: 600px){
        height: 50%;
    }

    @media (min-width: 768px){
        height: 60%;
        }

        @media (min-width: 1024px){
            height: 70%;
        }

}

main img{
    max-height: 90%;
    max-width: 80%;
    margin: 0;
    grid-area: mainimg;

    @media (min-width: 600px){
    width: 60%;
    max-height: 100%;
    height: auto;
    }

    @media (min-width: 768px){
        width: 50%;
        max-height: 100%;
        height: auto;
        }

}

.ribbon{
    background-color: $bg-color-1;
    height: 150px;
    display: flex;
    align-items: flex-end;
}

.index__ribbon {
    width: 100%;
    height: 130px;
    padding: 20px 25px 20px 25px;
    margin: 10px 0;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: flex-start;
    justify-content: space-around;
}

.ribbon__txt{
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-3-txt
}

.ribbon__h2{
    text-align: center;
    @include font (20px, 600, normal);
    font-family: 'Montserrat';
}

.ribbon__h3{
    text-align: center;
    @include font (10px, 400, normal);
}

.index__images{
    background-color: $bg-color-1;
    padding: 10px 0
}

.index__section{
    background-color: $bg-color-1;
    padding: 0 0 50px 0;
}

.index__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color-1;
}

.description-txt{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.i-txt{
    @include font (12px, 400, normal);
    text-align: center;
    margin: 20px;
    line-height: 1.5;
    margin: 0 40px 25px 40px;

}

.albergue-txt{
    @include colors ($color-1-bg, $color-1-txt);
    margin-bottom: 5px;
}

.huespedes-txt {
    @include colors ($color-2-bg, $color-2-txt);
    margin-top: 5px;
}

.i-title{
    @include font (15px, 900, normal);
    font-family: 'Montserrat';
    line-height: 0.65;
    text-align: center;
    margin: 40px 0px 50px 5px;
}

.it-albergue{
    color: $color-1-txt;
}

.it-huespedes{
    color: $color-2-txt;
}

.opiniones{
    background-color: $bg-color-1;
    padding: 0 0 10px 0;
}

.index__opiniones{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
    @extend .index__ribbon;
    margin: 0;
        justify-content: space-between;

        @media (min-width: 420px){
            height: 300px;
    
        }

        @media (min-width: 600px){
            height: 290px;
            
        }
}

.it-opiniones{
    @extend .i-title;
    color: $color-3-txt;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0;
}

.opiniones-txt{
    height: 250px;
    margin-top: 20px;


    @media (min-width: 600px){
        height: 150px;

        
    }

}

.o-test{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-test-txt{
    @extend .i-txt;
    color: $color-3-txt;
    max-width: 70%;
}

.firma{
    @extend .o-test-txt;
    font-weight: 200;
}



.main__images{
    background-color: $bg-color-1;
    padding: 30px 80px 30px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index__img{
    max-width: 12%;
    border-radius: 15px;
    display: flex;
    border: 2px solid white;
}


/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */
/* ________________ TABLET ________________ */

@media (min-width: 768px){


    .index__ribbon{
        margin: 20px 30px;
        border-radius: 25px;
            width: 100%;
            height: 110px;
            padding: 18px;
    }


    .ribbon__txt {
        padding: 0 40px;
    }

    .ribbon__h2{
        text-align: center;
        @include font (25px, 800, normal);
        font-family: 'Montserrat';
    }
    
    .ribbon__h3{
        text-align: center;
        @include font (12px, 400, normal);
    }

.index__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .description-txt{
        height: 230px;
        border-radius: 25px;
        padding: 30px 60px 30px 60px;
        margin: 10px 30px;
    }

    .i-title{
        margin: 15px 0 0 0;
    }
    
    .index__images{
        padding: 20px 30px;

    }

    .carousel-inner {
        border-radius: 25px;
        height: 100%;
    }

    .opiniones {
    padding: 0;
    }

    .index__opiniones{
        width: auto;
        height: 200px;
        margin: 20px 30px 40px 30px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: space-between;
    }

    .it-opiniones{
        height: 15px;
    }

    .opiniones-txt{
        display: flex;
        flex-direction: row;
    }

    .o-test{
        margin-top: 15px;
    }

    .firma{
        margin: 0;
    }

}



/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */
/* ________________ DESKTOP ________________ */


@media (min-width: 1200px){

    .index-body{
        display: grid;
        grid-template-rows: $heightheader 65vh 300px 400px auto 350px $heightfooter;
    }

    .index__main{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: none;
        height: auto;
        padding: 0;
    }

    .main__txt{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        padding: 80px;
    }
    
    .main__title {
        @include font (70px, 700, normal);
        letter-spacing: 5px;
        letter-spacing: 0px;
        line-height: 85px;
        color: white;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    
    #main__subtitle{
        @include font (20px, 400, normal);
        font-family: 'Manrope';
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
    }

    .main__img{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
    }

    main img{
        margin: 0;
        width: 85%;
        max-height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .ribbon{
        padding: 0;
        height: auto;
        display: flex;
        align-items: center;
    }

    .index__ribbon {
        width: 100%;
        margin: 0px 80px;
        padding: 25px;
        background-color: $bg-color-2;
        border-radius: 25px;
        height: 200px;
    }
    
    .ribbon__txt{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    
    .ribbon__h2{
        @include font (70px, 600, normal);
        text-align: center;
    }
    
    .ribbon__h3{
        @include font (15px, 400, normal);
        text-align: center;
    }

    .index__images{
        background-color: $bg-color-1;
        border-radius: 0;
        padding: 80px;
    }

    .carousel-inner{
        border-radius: 30px;
    }


    .index__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 80px;
    }
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 2px 20px 80px;
    }

    .description-txt{
        height: 100%;
        padding: 30px 80px 30px 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .albergue-txt{
        @include colors ($color-1-bg, $color-1-txt);
        margin: 0 5px 0 0 ;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 70px;
    }

    .huespedes-txt{
        @include colors ($color-2-bg, $color-2-txt);
        margin: 0 0 0 5px;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 30px;
    }
    
    .i-title{
        @include font (28px, 900, normal);
        line-height: 0.65;
        text-align: left;
        margin: 30px 0px 70px 0px;
    }

    .it-albergue{
        color: $color-1-txt;
    }

    .it-huespedes{
        color: $color-2-txt;
        text-align: right;
    }

    .i-txt{
        @include font (15px, 400, normal);
        text-align: center;
        line-height: 20px;
        margin: 0
    }

    .i-txt-albergue{
        text-align: left;
        margin-right: 50px
    }

    .i-txt-huespedes{
        text-align: right;
        margin-left: 50px
    }

    .opiniones{
        display: flex;
        align-items: flex-start;
    }

    .index__opiniones{
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 100%;
        
    }

    .it-opiniones{
        color: $color-3-txt;
        text-align: center;
        margin-bottom: 30px;
    }

    .testimonios {
        display: grid;
        grid-template-columns: 50%;
        align-items: center;
        padding: 20px 0px 35px 0px;
    }

        .opiniones-txt{
        padding: 0 30px 10px 30px;
        min-height: 90px;
    }




}