@import"sections-nosotros";
@import"sections-faqs";
@import"sections-servicios";
@import"sections-contacto";

/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */

.section-body{
    display: grid;
    grid-template-rows: auto auto $heightfooter;
    min-height: 100vh
}

.section-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px

}

    h1{
        @include font (30px, 800, normal);
        color: $txt-dark;
        font-family: 'Montserrat';
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .nosotros, .servicios, .faqs, .contacto{
        background-color: $bg-color-1;
        padding: 10px 0;
    }
    .nosotros__bubble, .servicios__bubble, .faq__bubble{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.servicios__title{
        color: $txt-light;
        @include font (22px, 900, normal);
        text-align: center;
        margin: 30px 20px 10px 20px;
    }
    
    
    
.servicios__txt, .faqs__txt{
        @include font (16px, 300, normal);
        text-align: center;
        margin: 0 15px 0 15px;
        padding: 0 20px 30px 20px;
    }
    

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */

@media (min-width: 600px){
.section-body{
    display: grid;
    grid-template-rows: 56px auto $heightfooter;
    min-height: 100vh;
}
}

@media (min-width: 768px){

    .nosotros, .servicios, .faqs, .contacto{
        padding: 50px 30px 20px 30px;
    }

.nosotros__bubble,
.servicios__bubble,
.faq__bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios__title {
    color: $txt-light;
    @include font (22px, 900, normal);
    text-align: center;
    margin: 30px 20px 10px 20px;
}


.servicios__txt,
.faqs__txt {
    @include font (16px, 300, normal);
    text-align: center;
    margin: 0 15px 0 15px;
    padding: 0 20px 30px 20px;
}

}


/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */


@media (min-width: 1200px){

.faq__bubble{
    margin: 10px 10px 10px 10px;
}

.servicios__txt{
    padding: 5px 50px 50px 50px;
}

.section-main {
    justify-content: flex-start;
}


}
