@import"sections-nosotros";
@import"sections-faqs";
@import"sections-servicios";
@import"sections-contacto";

/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */

.section-body{
    display: grid;
    grid-template-rows: auto auto $heightfooter;
    min-height: 100vh
}

.section-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px

}

    h1{
        @include font (30px, 800, normal);
        color: $txt-dark;
        font-family: 'Montserrat';
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .nosotros, .servicios, .faqs, .contacto{
        background-color: $bg-color-1;
        padding: 10px 0;
    }
    .nosotros__bubble, .servicios__bubble, .faq__bubble{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */



@media (min-width: 600px){
.section-body{
    display: grid;
    grid-template-rows: 56px auto $heightfooter;
    min-height: 100vh;
}
}

@media (min-width: 768px){

    .nosotros, .servicios, .faqs, .contacto{
        padding: 50px 30px 20px 30px;
    }


}


/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */


@media (min-width: 1200px){


    h1 {
        padding: 0 0 35px 0;
        margin: 0;
    }

    .nosotros,
    .servicios,
    .faqs,
    .contacto {
        padding: 50px 100px 20px 100px;
    }

    .section-main {
        justify-content: flex-start;
    }


}
