/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */

.servicios-body{
    min-height: 100vh;
}

.servicios{
    min-height: calc(100vh - 136px);
    display: grid;
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
    background-color: $bg-color-1;
}


/* ________ ACCORDION GENERAL ________ */

.accordion-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-item-servicios{
    width: 100%;
    background-color: $bg-color-1;
    padding: 5px 0;
    
}

.accordion-button{
    @include font (16px, 700, normal);
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

.accordion-button::after {
    margin-left: 0;
}

.accordion-body{
    @include font (12px, 400, normal);
    font-family: 'Manrope';
    text-align: center;
    padding: 50px;
}

/* ____________ Estilos ____________ */

.hotel-title, .hotel-txt, .social-title, .social-txt{
    @include colors ($bg-color-2, $color-1-bg);
}

.guarderia-title, .guarderia-txt, .traslados-title, .traslados-txt{
    @include colors ($bg-color-2, $color-3-txt);
}
.paseos-title, .paseos-txt, .esquilados-title, .esquilados-txt{
    @include colors ($bg-color-2, $color-2-bg);
}




.hotel-title:not(.collapsed), .social-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $color-1-txt;
    background-color: $color-1-bg;
}

.guarderia-title:not(.collapsed), .traslados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
}

.paseos-title:not(.collapsed), .esquilados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $color-2-txt;
    background-color: $color-2-bg;
}


/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */

@media (min-width: 768px) {


/* ________ ACCORDION GENERAL ________ */

.accordion-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    height: 100%;
}

.accordion-flush-servicios .accordion-item-servicios .accordion-button-servicios {
    border-radius: 30px;
}

.accordion-item-servicios{
    min-height: 100%;
    padding: 0;
    margin:0;
    border-radius: 30px;
}

.accordion-flush .accordion-item {
    border-radius: 30px;
}

.accordion-header{
    height: 100%;
}

.accordion-button{
    height: 100%;
    border: none;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}



.accordion-txt{
    margin: 0;
}

.accordion-item-servicios:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* ________ estilos ________ */



/* ACORDEON CERRADA*/

.hotel-title, .social-title{
    @include colors ($color-1-bg, $color-2-bg);
}

.hotel-txt, .social-txt{
    @include colors ($bg-color-2, $color-1-bg);
}


.guarderia-title, .traslados-title{
    @include colors ($color-3-txt, $bg-color-2);
}

.guarderia-txt, .traslados-txt{
    @include colors ($bg-color-2, $color-3-txt);
}


.paseos-title,.esquilados-title{
    @include colors ($color-2-bg, $color-2-txt);
}


.paseos-txt, .esquilados-txt{
    @include colors ($bg-color-2, $color-2-bg);
}




/* FONDO ACORDEON */

.accordion-item-hotel, .accordion-item-social{
    background-color: $color-1-bg;
}

.accordion-item-guarderia, .accordion-item-traslados{
    background-color: $color-3-txt;
}

.accordion-item-paseos, .accordion-item-esquilados{
    background-color: $color-2-bg;
}

/* ACORDEON ABIERTA*/

.hotel-title:not(.collapsed), .social-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $color-2-txt;
    background-color: $color-1-bg;
}

.guarderia-title:not(.collapsed), .traslados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
}

.paseos-title:not(.collapsed), .esquilados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $color-1-bg;
    background-color: $color-2-bg;
}

.accordion-body{
    height: 352px;
}


}

/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */


@media (min-width: 1200px) {

    .accordion-servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: start;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        height: 100%;
    }

    .accordion-item-servicios{
    min-height: 100%;
    }

    .accordion-body {
        height: auto;
        padding: 50px;
    }

/* ____________ Estilos ____________ */

.hotel-title, .hotel-txt, .esquilados-title, .esquilados-txt{
    @include colors ($bg-color-2, $color-1-bg);
}

.accordion-item-hotel, .accordion-item-esquilados {
    background-color: $bg-color-2;
}


.guarderia-title, .guarderia-txt, .social-title, .social-txt{
    @include colors ($bg-color-2, $color-3-txt);
}

.accordion-item-guarderia, .accordion-item-social{
    background-color: $bg-color-2;
}


.paseos-title, .paseos-txt, .traslados-title, .traslados-txt{
    @include colors ($bg-color-2, $color-2-bg);
}

.accordion-item-paseos, .accordion-item-traslados{
    background-color: $bg-color-2;
}



.hotel-title:not(.collapsed), .esquilados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $color-1-txt;
    background-color: $color-1-bg;
}

.guarderia-title:not(.collapsed), .social-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $bg-color-2;
    background-color: $color-3-txt;
}

.paseos-title:not(.collapsed), .traslados-title:not(.collapsed) {
    font-family: "Montserrat";
    font-weight: 900;
    color: $color-2-txt;
    background-color: $color-2-bg;
}

}






