/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */

.contacto{
    display: grid;
    grid-template-rows: 100px auto;
    min-height: calc(100vh - 136px);
}

.formulario{
    margin-top: 0;
    width: 100%;
    background-color: $bg-color-2;
    padding: 50px;
    padding: 50px;
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-auto-rows: 80px 80px auto 40px;
}

.mb-3 {
    width: 100%;
    height: 100%;
    margin-bottom: 0!important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label{
    @include font (15px, 700, normal);
    color: $color-3-txt;
    font-family: 'Montserrat';
}

textarea.form-control {
    height: 100%;
    margin-bottom: 15px;
}


.btn-primary {
    @include font (15px, 600, normal);
    @include colors ($color-2-bg, $color-2-txt);
    border-color: $color-2-bg;
    font-family: 'Montserrat';
    width: 100px;

}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    @include font (15px, 800, normal);
    @include colors ($color-1-bg, $color-1-txt);
    border-color: $color-1-bg;
}

.btn-primary:hover {
    @include font (15px, 800, normal);
    @include colors ($bg-color-1, $color-1-txt);
    border-color: $color-1-txt;
}

.button-contacto{
    display: flex;
    justify-content: center;
}




/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */

@media (min-width: 768px){

    .formulario{
        border-radius: 35px;
    }


}


/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */


@media (min-width: 1200px){

    .h1-contacto{
        padding: 0 0 25px 0;

    }

    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .formulario{
        border-radius: 40px;
        padding: 70px 40px;
        margin-bottom: 20px;
        height: 100%;
        width: 70%;
    }

    .btn-primary {
        margin-top: 30px;
    }

    textarea.form-control {
        min-height: calc(1.5em + (7.75rem + 2px));
    }
}