/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */
/* ____________ MOBILE ____________ */


/* EQUIPO ---------------------------------------------- */

.nosotros{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 10px;
    background-color: $bg-color-1;
}

.nosotros__bubble {
    margin: 0;
    border-radius: 0px;
    justify-content: space-between;

}

.equipo {
    @extend .albergue-txt;
    padding: 30px 30px 0 30px;
}

.n-title-equipo {
    @extend .i-title;
    @extend .it-albergue;
    @include font (20px, 800, normal);
    font-family: 'Montserrat';
    margin-top: 50px
}

.equipo-txt {
    @extend .i-txt;
    @extend .i-txt-albergue;
    margin: 10px 40px 25px 40px;
    padding: 0;
}

.nosotros__cofounders {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cofounder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#cofounder1 {
    padding: 0 0 0 35px;
}

#cofounder2 {
    padding: 0 35px 0 0;
}

.nosotros__subtitle {
    @include font (14px, 700, normal);
    text-align: center;
    padding: 10px;
    margin: 0;
}

.equipo__icon {
    max-width: 40px;
}

.equipo__img {
    max-width: 80%;
}

/* COMIENZOS ---------------------------------------------- */

.comienzos {
    @extend .huespedes-txt;
    justify-content: space-around;
    padding: 30px;
}


.n-title-comienzos {
    @extend .n-title-equipo;
    @extend .it-huespedes;
}

.comienzos-txt {
    @extend .equipo-txt;
    @extend .i-txt-huespedes;
}

/* MISION VISION VALORES ---------------------------------------------- */

.mv,
.valores {
    @extend .index__ribbon;
    height: auto;
    max-height: 600px;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    padding: 30px;
}

.nosotros__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mv-title,
.vision-title,
.valores-title {
    @extend .i-title;
    @extend .it-opiniones;
    @include font (20px, 800, normal);
}

.mvv-txt {
    @extend .equipo-txt;
    color: $color-3-txt;

}

#mv{
    height: auto;
    max-height: 700px;


}

/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */
/* ____________ TABLET ____________ */

@media (min-width: 768px) {

    .nosotros{
        grid-row-gap: 50px;
    }

    .equipo{
        min-height: 600px;
    }

    .equipo__img {
        max-width: 550px;
        margin-top: 40px;
    }

    .nosotros__bubble {
        border-radius: 25px;
    }

    .comienzos{
        min-height: 300px;
    }

    .mv{
        min-height: 400px;
    }

    .vision{
        min-height: 200px;
    }

.n-title-comienzos{
    margin: 0;
}

}

/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */
/* ____________ DESKTOP ____________ */


@media (min-width: 1200px) {


    .nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title title title title title title"
            "equipo equipo equipo comienzos comienzos comienzos"
            "equipo equipo equipo comienzos comienzos comienzos"
            "mv mv mv mv valores valores"
            "mv mv mv mv valores valores";
                        ;
        grid-gap: 5px;
        grid-row-gap: 20px;
    }

    .nosotros-main{
        grid-area: title;
    }



    /* EQUIPO ---------------------------------------------- */

    .nosotros__bubble {
        margin: 10px 10px 10px 10px;
    }


    .equipo {
        @extend .albergue-txt;
        border-radius: 35px  0 0 35px;
        grid-area: equipo;
        margin: 0;
        min-height: 300px;
        justify-content: space-around;
    padding: 30px 60px;
    }

    .n-title-equipo {
        @extend .i-title;
        @extend .it-albergue;
        @include font (20px, 800, normal);
        font-family: 'Montserrat';
        margin: 0
    }

    .equipo-txt {
        @extend .i-txt;
        @extend .i-txt-albergue;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .equipo__img {
        max-width: 50%;
        margin-top: 20px;
    }

    .nosotros__cofounders, .equipo__img{
        display: none;
    }


    /* COMIENZOS ---------------------------------------------- */


    .comienzos {
        grid-area: comienzos;
        border-radius: 0 35px 35px 0;
        padding: 30px 60px;
        margin: 0;
    }

    /* MISION VISION VALORES ---------------------------------------------- */

    .mv {
        grid-area: mv;
        border-radius: 35px 0 0 35px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .valores {
        grid-area: valores;
        border-radius: 0 35px 35px 0;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mv,
    #valores {
        align-items: center;
        justify-content: space-around;
        padding: 30px 60px;
    }



}



